body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(194, 179, 249);
    /* background: url('') no-repeat center center/cover; */
    font-family: Arial, sans-serif;
    margin: 0;
}

.login-card {
    background: #f2f6c3; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px;
}

button {
    background:	#96ead7;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background:	#68c4af;
}

