body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://aiha-assets.sfo2.digitaloceanspaces.com/AIHA/uploads/_1840x896_crop_center-center_75_none/1551339/hands-holding-globe1.jpg') no-repeat center center/cover;
    font-family: Arial, sans-serif;
    margin: 0;
}

.register-card {
    background: #f2f6c3; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px;
}

button {
    background:	#96ead7;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 16px;
}

.butoane {
    display: flex;
    justify-content: space-evenly; /* Distribuie spațiul între butoane */
    gap: 10px; /* Spațiu între butoane */
}

.butoane button,
.butoane .login-link {
    flex-grow: 1; /* Permite butoanelor să ocupe spațiul disponibil */
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.butoane button {
    background-color: #007bff;
    color: white;
}

.butoane .login-link {
    background-color: #d490e5;
    color: white;
    width: 7vw;
}

button:hover {
    background: #68c4af;
}

.link:hover {
    background-color: rgb(197, 88, 205);
}
